{% extends 'layout-basic.html' %} {% block title %}{{ __('Stream') }}: {{ __('Topbar - Apex') }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('stream_overlays.static', filename='css/stream_topbar_apex.css') }}">
<script type="text/javascript" charset="utf-8" src="{{ url_for('stream_overlays.static', filename='js/main/stream_topbar.js') }}"></script>
{% endblock %}

{% block content %}
<div class="apex-topbar">
    <div id="info-row" class="topbar-container">
        <!-- Timer section - left side -->
        <div id="timer" class="timer-section">
            <div class="time-display">--:--</div>
        </div>

        <!-- Heat info - center -->
        <div id="heat-info" class="heat-section">
            <span id="js--heat-title"></span>
            <span class="separator">|</span>
            <span class="event-name">{{ getOption('eventName') }}</span>
        </div>
    </div>
</div>
{% endblock %}
