{% extends 'layout-basic.html' %}{% block title %}{{ __('Stream') }}: {{ __('Seat') }} {{ node_id + 1 }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('stream_overlays.static', filename='css/main/base.css') }}">
<link rel="stylesheet" href="{{ url_for('stream_overlays.static', filename='css/dds/node.css') }}">
{% endblock %}

{% block content %}
<div id="overlay-root" data-theme="dds" data-node="{{ node_id }}"></div>
<script type="module" src="{{ url_for('stream_overlays.static', filename='dist/node.js') }}"></script>
{% endblock %}
