{% extends 'layout-basic.html' %}{% block title %}{{ __('Stream') }}: {{ __('Seat') }} {{ node_id + 1 }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('stream_overlays.static', filename='css/main/node_overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('stream_overlays.static', filename='css/overlay_node_dds.css') }}">
<script type="text/javascript" charset="utf-8" src="{{ url_for('stream_overlays.static', filename='js/overlay_node_dds.js') }}"></script>
<script>
    streamnode = '{{ node_id }}'
</script>
{% endblock %}

{% block content %}
<main class="page-streamnode">
    <!-- Popup on every new lap -->
    <div id="popup-container">
        <div class="box laps">
            <p>LAP <span class="lap_number">0</span></p>
        </div>
        <div class="box time">
            <p id="last_laptime"></p>
        </div>
    </div>

    <!-- Information on top of overlay -->
    <div id="overlay-top">
        <!-- <div class="triangle top"></div> -->
        <div class="position-container">
            <span id="pilot_position"></span>
            <sup id="pos_ordinal"></sup>
        </div>
    </div>

    <!-- Information on bottom of overlay -->
    <div class="overlay-bottom">
        <div class="row first-bar">
            <div id="pilot_callsign"></div>
            <div class="align-right" id="laps_label">LAPS: <span class="lap_number">0</span></div>
        </div>
        <div class="row second-bar">
            <div class="laps-container">
                <ul id="pilot_lap-times"></ul>
            </div>
            <div class="align-right" id="total_time">0:00.000</div>
        </div>
        <div class="triangle bottom"></div>
    </div>
</main>
{% endblock %}
