{% extends 'layout-basic.html' %}{% block title %}{{ __('Stream') }}: {{ __('TrackDraw Map') }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('stream_overlays.static', filename='css/main/trackdraw_map.css') }}">
<link rel="stylesheet" href="{{ url_for('stream_overlays.static', filename='css/' ~ theme_name ~ '/trackdraw_map.css') }}">
<script>
    window.trackdrawOverlayTheme = '{{ theme_name }}';
    var data_dependencies = ["current_heat", "race_status", "current_laps", "leaderboard"];
</script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('stream_overlays.static', filename='js/trackdraw_map.js') }}"></script>
{% endblock %}

{% block content %}
<main class="trackdraw-map" data-theme="{{ theme_name }}">
    <section class="trackdraw-map__panel">
        <svg
            id="trackdraw-map-svg"
            class="trackdraw-map__svg"
            preserveAspectRatio="xMidYMid meet"
            role="img"
            aria-label="TrackDraw live race map"
        ></svg>
        <div id="trackdraw-map-message" class="trackdraw-map__message is-visible">
            Loading TrackDraw map...
        </div>
    </section>
</main>
{% endblock %}
