{% extends 'layout-basic.html' %}{% block title %}{{ __('Stream') }}: {{ __('TrackDraw Minimap') }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('stream_overlays.static', filename='css/main/trackdraw_minimap.css') }}">
<link rel="stylesheet" href="{{ url_for('stream_overlays.static', filename='css/' ~ theme_name ~ '/trackdraw_minimap.css') }}">
<script>
    window.trackdrawOverlayTheme = '{{ theme_name }}';
</script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('stream_overlays.static', filename='js/trackdraw_minimap.js') }}"></script>
{% endblock %}

{% block content %}
<main class="trackdraw-minimap" data-theme="{{ theme_name }}">
    <section class="trackdraw-minimap__panel">
        <div class="trackdraw-minimap__header">
            <span class="trackdraw-minimap__label">TrackDraw</span>
            <span id="trackdraw-cache-status" class="trackdraw-minimap__status">Loading</span>
        </div>
        <svg
            id="trackdraw-minimap-svg"
            class="trackdraw-minimap__svg"
            role="img"
            aria-label="TrackDraw live race minimap"
        ></svg>
        <div id="trackdraw-minimap-message" class="trackdraw-minimap__message is-visible">
            Loading TrackDraw minimap...
        </div>
    </section>
</main>
{% endblock %}
