/* Reset styles for HTML */
html {
  background: transparent;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Barlow", sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 700;
}

/* Set a background color for the body */
body {
  background: grey;
  margin: 0;
}

/* Page stream node overlay styles */
.page-streamnode {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
}

/* Page stream class overlay styles */
.page-streamclass {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

/* Background image styling and blur effect */
.bg-image {
  background-image: url('/stream_overlays/static/img/background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
