/* Reset styles for HTML */
html {
  background: transparent;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Barlow", sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 700;
}

/* Set a background color for the body */
body {
  background: grey;
  margin: 0;
}

/* Page stream overlay styles */
.page-streamnode {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
}

.page-streamclass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
