@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

:root {
  --topbar-height: 100px;
  --topbar-background-color: #111;
}

body {
  background: grey;
  margin: 0;
}

.item {
  position: absolute;
}

#info_row {
  width: 100%;
  height: var(--topbar-height);
  background: var(--topbar-background-color);
  border-radius: 25px 0 25px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info_row > div {
  flex: 1;
  height: 100%;

  display: flex;
  align-items: center;
}

#heat_info {
  font-family: "Teko", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 3rem; /* Adjust the font size as needed */

  justify-content: center;
}

#timer {
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  width: 250px;
  height: var(--topbar-height);
  border-radius: 25px 0 25px 0;
}

.timing-clock {
  background-color: white;
  color: black;
}

.time-display {
  text-align: center;
  font-size: 3.2rem;
  margin: 0;
  margin-top: 5px;

  font-family: "Teko", sans-serif;
  font-weight: bold;
}

.race-running .timing-clock {
  color: white;
  background-color: hsl(92.7, 67.8%, 29.2%);
}

.race-stopped .timing-clock {
  color: white;
  background-color: #cd360c;
}

.timing-clock.staging {
  background-color: orange;
  color: black;
}